@using Microsoft.AspNetCore.Html
@{
  ViewData["Title"] = "Định hướng phát triển - Powaco";
  ViewData["Breadcrumb"] = new HtmlString(@"<span class='breadcrumb-link-wrap'
              itemprop='itemListElement'
              itemscope
              itemtype='https://schema.org/ListItem'>
          <a class='breadcrumb-link' asp-controller='Home' asp-action='Index' itemprop='item'>
            <span class='breadcrumb-link-text-wrap' itemprop='name'>
              <span class='home'> Trang chủ </span>
            </span>
          </a>
          <meta itemprop='position' content='1' />
        </span>
        <span aria-label='breadcrumb separator' class='separator'> » </span>
        <span class='breadcrumb-link-wrap'
              itemprop='itemListElement'
              itemscope
              itemtype='https://schema.org/ListItem'>
          <a class='breadcrumb-link'
             asp-controller='Contact' asp-action='About'
             itemprop='item'>
            <span class='breadcrumb-link-text-wrap' itemprop='name'>
              Giới thiệu
            </span>
          </a>
          <meta itemprop='position' content='2' />
        </span>
        <span aria-label='breadcrumb separator' class='separator'> » </span>
        Định hướng phát triển");
}

<main class="content">
  <article class="post-17 page type-page status-publish entry"
           itemscope
           itemtype="https://schema.org/CreativeWork">
    <header class="entry-header">
      <h1 class="entry-title" itemprop="headline">
        Định hướng phát triển
      </h1>
    </header>
    <div class="entry-content" itemprop="text">
      <p>
        <span style="font-size: 24px">
          <strong>
            Định hướng phát triển trong thời gian tới của Công ty CP
            Điện Nước An giang
          </strong>
        </span>
      </p>
      <p>
        &#8211; Các mục tiêu chủ yếu của Công ty: Không ngừng phát
        triển, mở rộng hoạt động sản xuất kinh doanh (sxkd) nhằm phát
        triển bền vững Công ty và tối đa hóa lợi nhuận của cổ đông,
        nâng cao giá trị thương hiệu của công ty, cải thiện đời sống,
        điều kiện làm việc và tăng thu nhập cho người lao động, làm
        tròn nghĩa vụ nộp ngân sách Nhà nước. Giữ vững vị thế là doanh
        nghiệp đứng đầu của tỉnh An Giang trong lĩnh vực cung cấp nước
        sạch.
      </p>
      <p>
        &#8211; Góp phần quan trọng nâng cao hiệu quả, sức cạnh tranh
        của doanh nghiệp; tạo ra loại hình doanh nghiệp có nhiều chủ
        sở hữu, trong đó có đông đảo người lao động, tạo động lực mạnh
        mẽ và cơ chế quản lý năng động cho doanh nghiệp đễ sử dụng có
        hiệu quả vốn, tài sản của Nhà nước và của doanh nghiệp.
      </p>
      <p>
        &#8211; Huy động vốn của cá nhân, các tổ chức kinh tế, tổ chức
        xã hội trong nước và ngoài nước để đầu tư đổi mới công nghệ,
        phát triển doanh nghiệp.
      </p>
      <p>
        &#8211; Phát huy vai trò làm chủ thực sự của người lao động,
        của các cổ đông, tăng cường sự giám sát của nhà đầu tư đối với
        doanh nghiệp, bảo đảm hài hòa lợi ích của Nhà nước, doanh
        nghiệp, nhà đầu tư và người lao động.
      </p>
      <p>
        &#8211; Mở rộng và phát triển đồng bộ các lĩnh vực hoạt động
        mà Công ty có ưu thế, tạo nền tảng phát triển một cách ổn
        định, lâu dài và vững chắc.
      </p>
      <p>&#8211; Chiếc lược phát triển trung và dài hạn:</p>
      <ul>
        <li>
          Đào tạo, nâng cao trình độ cán bộ công nhân viên cấp quản
          lý, nâng cao ý thức làm việc cũng như tay nghề của lực lượng
          người lao động.
        </li>
        <li>
          Tuân thủ theo quy định đối với việc bảo vệ môi trường, an
          toàn lao động, phòng chống cháy nổ, tạo công ăn việc làm và
          chế độ phúc lợi cho người lao động.
        </li>
        <li>
          Mở rộng ngành nghề kinh doanh phù hợp với lĩnh vực kinh
          doanh chính của Công ty.
        </li>
        <li>
          Ứng dụng khoa học công nghệ vào hoạt động của Công ty, là
          đòn bẩy tăng năng suất lao động.
        </li>
        <li>
          Huy động mọi nguồn lực để đầu tư mở rộng hệ thống điện, nước
          nhằm mở rộng địa bàn khai thác, đặc biệt là khu vực nông
          thôn.
        </li>
      </ul>
      <div id="mttContainer"
           class="bootstrapiso notranslate"
           title=""
           data-original-title=""></div>
      <div id="mttContainer"
           class="bootstrapiso notranslate"
           style="transform: translate(1384px, 212px)"
           title=""
           data-original-title=""></div>
    </div>
  </article>
</main>

