@using Microsoft.AspNetCore.Html
@{
  ViewData["Title"] = "Thành tích - Powaco";
  ViewData["Breadcrumb"] = new HtmlString(@"<span class='breadcrumb-link-wrap'
              itemprop='itemListElement'
              itemscope
              itemtype='https://schema.org/ListItem'>
          <a class='breadcrumb-link' asp-controller='Home' asp-action='Index' itemprop='item'>
            <span class='breadcrumb-link-text-wrap' itemprop='name'>
              <span class='home'> Trang chủ </span>
            </span>
          </a>
          <meta itemprop='position' content='1' />
        </span>
        <span aria-label='breadcrumb separator' class='separator'> » </span>
        <span class='breadcrumb-link-wrap'
              itemprop='itemListElement'
              itemscope
              itemtype='https://schema.org/ListItem'>
          <a class='breadcrumb-link'
             asp-controller='Contact' asp-action='About'
             itemprop='item'>
            <span class='breadcrumb-link-text-wrap' itemprop='name'>
              Giới thiệu
            </span>
          </a>
          <meta itemprop='position' content='2' />
        </span>
        <span aria-label='breadcrumb separator' class='separator'> » </span>
        Thành tích");
}

<main class="content">
  <article class="post-15 page type-page status-publish entry"
           itemscope
           itemtype="https://schema.org/CreativeWork">
    <header class="entry-header">
      <h1 class="entry-title" itemprop="headline">Thành tích</h1>
    </header>
    <div class="entry-content" itemprop="text">
      <p style="text-align: left">
        <strong>
          <span style="font-size: 24px">
            Một số thành tích nổi bật của Công ty CP Điện Nước An
            Giang
          </span>
        </strong>
      </p>
      <p style="text-align: justify">
        Trong những năm qua, dưới sự chỉ đạo của Ủy ban nhân dân Tỉnh,
        sự quan tâm giúp đỡ tạo điều kiện của các ban ngành trung ương
        và địa phương, bằng sự nỗ lực không ngừng của toàn thể cán bộ
        công nhân viên, Công ty CP Điện nước An Giang đã được Đảng và
        Nhà nước ghi nhận bằng những phần thưởng rất đáng tự hào. Sau
        đây là một số thành tích nổi bật của Công ty:
      </p>
      <p>
        <img decoding="async"
             class="alignnone size-full wp-image-706"
             src="/Images/Upload/z6005286559531_775fda150a409f22c33bdff5dd7063ea.webp"
             alt=""
             width="2560"
             height="2004" />
      </p>
      <ul>
        <li style="text-align: left">
          <em>
            <strong>Huân chương Lao động hạng Nhất năm 2014.</strong>
          </em>
        </li>
        <li style="text-align: left">
          <em>
            <strong>Huân chương Lao động hạng Nhì năm 2003.</strong>
          </em>
        </li>
        <li style="text-align: left">
          <em>
            <strong>Huân chương Lao động hạng Ba năm 1995.</strong>
          </em>
        </li>
        <li style="text-align: left">
          <em>
            <strong>
              Cờ thi đua xuất sắc liên tục của Tỉnh, các năm:
            </strong>
          </em><em><strong>2002, 2003, 2004, 2005, 2006,2009.</strong></em>
        </li>
        <li style="text-align: left">
          <em>
            <strong>
              Cờ thi đua xuất sắc của Tổng Liên đoàn Lao động Việt
              Nam 2008, 2022, 2023
            </strong>
          </em>
        </li>
        <li style="text-align: left">
          <em><strong>Bằng khen Bộ công An 2006.</strong></em>
        </li>
        <li style="text-align: left">
          <em><strong>Bằng khen Bộ công Thương 2008.</strong></em>
        </li>
        <li style="text-align: left">
          <em>
            <strong>
              Bằng khen Bộ Lao Động Thương binh và Xã Hội 2005,
              2008.
            </strong>
          </em>
        </li>
        <li style="text-align: left">
          <em>
            <strong>
              UBND Tỉnh vinh danh doanh nghiệp tiêu biểu từ năm
              2005-2009.
            </strong>
          </em>
        </li>
        <li style="text-align: left">
          <em>
            <strong>
              Rất nhiều bằng khen của Ủy Ban Nhân Dân Tỉnh An Giang
              cho tập thể và cá nhân.
            </strong>
          </em>
        </li>
        <li style="text-align: left">
          <em>
            <strong>
              Nhiều cờ thi đua xuất sắc và bằng khen của Liên đoàn
              Lao động
            </strong>
          </em><em><strong>Tỉnh An Giang.</strong></em>
        </li>
      </ul>
      <div id="mttContainer"
           class="bootstrapiso notranslate"
           style="transform: translate(1354px, 106px)"
           title=""
           data-original-title=""></div>
      <div id="mttContainer"
           class="bootstrapiso notranslate"
           style="transform: translate(1560px, 210px)"
           title=""
           data-original-title=""></div>
      <div id="mttContainer"
           class="bootstrapiso notranslate"
           style="transform: translate(1391px, 1332px)"
           title=""
           data-original-title=""></div>
    </div>
  </article>
</main>



