@using Microsoft.AspNetCore.Html
@{
  ViewData["Title"] = "Giới thiệu - Powaco";
  ViewData["Breadcrumb"] = new HtmlString(@"
    <span class='breadcrumb-link-wrap'
          itemprop='itemListElement'
          itemscope
          itemtype='https://schema.org/ListItem'>
      <a class='breadcrumb-link'
         asp-controller='Home' asp-action='Index'
         itemprop='item'>
        <span class='breadcrumb-link-text-wrap' itemprop='name'><span class='home'>Trang chủ</span></span>
      </a><meta itemprop='position' content='1' />
    </span>
    <span aria-label='breadcrumb separator' class='separator'> » </span>Giới thiệu
");
}

 <main class="content">
      <article class="post-9 page type-page status-publish entry"
               itemscope
               itemtype="https://schema.org/CreativeWork">
        <header class="entry-header">
          <h1 class="entry-title" itemprop="headline">Giới thiệu</h1>
        </header>
        <div class="entry-content" itemprop="text">
          <p>
            <span style="font-size: 24px">
              <strong>1. Quá trình hình thành và phát triển</strong>
            </span>
          </p>
          <p>
            <span style="font-size: 15px">
              <span style="font-size: 16px">
                Tháng 12/1993, Ban Quản lý và Phát triển Điện Nông thôn
                được thành lập trực thuộc Ủy ban Kế hoạch tỉnh An Giang có
                nhiệm vụ triển khai thi công đường dây cao thế 110KV đến
                Châu Đốc và đường dây 35KV về đến tất cả các huyện thị.
                Năm 1995, Ủy ban Nhân dân tỉnh An Giang giao thêm nhiệm vụ
                phát triển nước sạch nông thôn và đổi tên gọi Ban Quản lý
                và Phát triển Điện Nước Nông thôn An Giang.
              </span>
            </span>
          </p>
          <p style="text-align: justify">
            <span style="font-size: 16px">
              Tháng 11/1996, chuyển thành Công ty Điện Nước An Giang với
              nhiệm vụ cung cấp điện nước phụ vụ cho người dân theo Quyết
              định thành lập Công ty số 1570/QĐ.UBND ngày 18/11/1996 của
              Ủy ban Nhân dân tỉnh An Giang.
            </span>
          </p>
          <p style="text-align: justify">
            <span style="font-size: 16px">
              Theo Quyết định số 1242/QĐ-UBND ngày 04/08/2010 của Ủy ban
              Nhân dân tỉnh An Giang, Công ty Điện nước An Giang tiến hành
              cổ phần hóa.
            </span>
          </p>
          <p style="text-align: justify">
            <span style="font-size: 16px">
              Ngày 25/03/2011, Công ty Cổ phần Điện nước An Giang đã tổ
              chức Đại hội đồng cổ đông lần thứ nhất và chính thức hoạt
              động từ ngày 01/04/2011 theo giấy chứng nhận đăng ký kinh
              doanh do Sở Kế hoạch và Đầu tư tỉnh An Giang cấp lần đầu
              ngày 28/03/2011 và thay đổi lần thứ 7 ngày 01/11/2021.
            </span>
          </p>
          <p style="text-align: justify">
            <span style="font-size: 16px">
              Tháng 12/2016, Công ty trở thành Công ty đại chúng theo quy
              định pháp luật.
            </span>
          </p>
          <p style="text-align: justify">
            <span style="font-size: 16px">
              Công ty cổ phần Điện Nước An Giang là Doanh Nghiệp hoạt
              động sản xuất kinh doanh với nhiều lĩnh vực. Trong đó sản
              phẩm chính là cung cấp điện &#8211; nước sạch cho người dân
              các khu vực thành thị lẫn nông thôn trên địa bàn tỉnh An
              Giang. Đây là doanh nghiệp duy nhất trên cả nước, kinh doanh
              và phục vụ các nhu cầu cần thiết trong đời sống sinh hoạt
              của người dân trên lĩnh vực điện sinh hoạt &#8211; nước
              sạch.
            </span>
          </p>
          <ul>
            <li style="text-align: justify">
              <span style="font-size: 16px">
                Tên tiếng Việt:
                <strong>CÔNG TY CỔ PHẦN ĐIỆN NƯỚC AN GIANG.</strong>
              </span>
            </li>
            <li style="text-align: justify">
              <span style="font-size: 16px">
                Tên tiếng Anh:<strong>
                  AN GIANG POWER AND WATER SUPPLY JOINT STOCK
                  COMPANY.
                </strong>
              </span>
            </li>
            <li style="text-align: justify">
              <span style="font-size: 16px">Tên viết tắt: <strong>POWACO.</strong></span>
            </li>
          </ul>
          <p>
            <span style="font-size: 24px"><strong>2. Trụ sở chính</strong></span>
          </p>
          <p>
            <span style="font-size: 16px">
              &#8211; Địa chỉ:
              <strong>
                Số 821 Trần Hưng Đạo, tổ 13, khóm Bình Thới 1, phường
                Bình Khánh, Tp. Long Xuyên, tỉnh An Giang.
              </strong>
            </span>
          </p>
          <p>
            <span style="font-size: 16px">&#8211; Số điện thoại: <strong>02963.856.100</strong></span>
          </p>
          <p>
            <span style="font-size: 16px">&#8211; Số fax: <strong>02963.857.800</strong></span>
          </p>
          <p>&#8211; E-mail: ctydnag@vnn.vn</p>
          <p>
            <span style="font-size: 16px">
              &#8211; Website:
              <a asp-controller="Home" asp-action="Index">https://diennuocag.com.vn/</a>
            </span>
          </p>
          <p>
            <span style="font-size: 24px"><strong>3. Vốn điều lệ</strong></span>
          </p>
          <p>
            <span style="font-size: 16px">
              &#8211; Vốn điều lệ:
              <em>
                563.295.670.000 đồng (Bằng chữ: Năm trăm sáu mưới ba tỷ,
                hai trăm chín mươi lăm triệu, sáu trăm bảy mươi ngàn
                đồng).
              </em>
            </span>
          </p>
          <p>
            <span style="font-size: 16px">
              &#8211; Vốn đầu tư của chủ sở hữu:
              <em>
                563.295.670.000 đồng (Bằng chữ: Năm trăm sáu mươi ba tỷ,
                hai trăm chín mươi lăm triệu, sáu trăm bảy mươn ngàn
                đồng).
              </em>
            </span>
          </p>
          <p>
            <span style="font-size: 16px">&#8211; Mã cổ phiếu (nếu có): <strong>DNA.</strong></span>
          </p>
          <p>
            <span style="font-size: 24px">
              <strong>4. Người đại diện theo pháp luật của Công ty</strong>
            </span>
          </p>
          <p>
            <span style="font-size: 16px">&#8211; Ông: <strong>Lương Văn Bạ</strong></span>
          </p>
          <p>
            <span style="font-size: 16px">&#8211; Chức danh: <strong>Chủ tịch HĐQT</strong></span>
          </p>
          <p>
            <span style="font-size: 24px"><strong>5. Ngành nghề và địa bàn kinh doanh</strong></span>
          </p>
          <p style="text-align: justify">
            &#8211; Ngành nghề kinh doanh: Phân phối và bán lẻ điện; Khai
            thác, xử lý và cung cấp nước; Lắp đặt hệ thống điện; Kinh
            doanh, lắp đặt thiết bị sử dụng năng lượng mặt trời, pin mặt
            trời&#8230;Ngày 30/05/2022, Công ty nhận được giấy xác nhận về
            việc thay đổi nội dung đăng ký doanh nghiệp của Công ty do Sở
            Kế hoạch và Đầu tư tỉnh An Giang cấp: Bổ sung mã ngành 7410
            &#8211; hoạt động Thiết kế chuyên dụng theo quy định của pháp
            luật hiện hành, bổ sung thêm nội dung &#8221; Chi tiết: giám
            sát công tác lắp đặt đường dây và trạm biến áp &#8221; đối với
            mã ngành 4321.
          </p>
          <p style="text-align: justify">
            &#8211; Địa bàn kinh doanh: Tỉnh An Giang
          </p>
          <p>
            <img decoding="async"
                 class="size-full wp-image-1057 aligncenter"
                 src="~/Images/Upload/ban-do.webp"
                 alt=""
                 width="1230"
                 height="867" />
          </p>
          <div id="mttContainer"
               class="bootstrapiso notranslate"
               style="transform: translate(191px, 54px)"
               title=""
               data-original-title=""></div>
          <div id="mttContainer"
               class="bootstrapiso notranslate"
               dir="ltr"
               style="transform: translate(1376px, 352px)"
               title=""
               data-original-title="- Website: https://diennuocag.com.vn/"></div>
          <div id="mttContainer"
               class="bootstrapiso notranslate"
               style="transform: translate(206px, 695px)"
               title=""
               data-original-title=""></div>
          <div id="mttContainer"
               class="bootstrapiso notranslate"
               style="transform: translate(1375px, 342px)"
               title=""
               data-original-title=""></div>
          <div id="mttContainer"
               class="bootstrapiso notranslate"
               style="transform: translate(658px, 1090px)"
               title=""
               data-original-title=""></div>
          <div id="mttContainer"
               class="bootstrapiso notranslate"
               style="transform: translate(1320px, 409px)"
               title=""
               data-original-title=""></div>
          <div id="mttContainer"
               class="bootstrapiso notranslate"
               style="transform: translate(1383px, 491px)"
               title=""
               data-original-title=""></div>
          <div id="mttContainer"
               class="bootstrapiso notranslate"
               style="transform: translate(1377px, 1039px)"
               title=""
               data-original-title=""></div>
        </div>
      </article>
    </main>


