@using Microsoft.AspNetCore.Html
@{
  ViewData["Title"] = "Tin tức - Sự kiện - Powaco";
  ViewData["Breadcrumb"] = new HtmlString(@"<span class='breadcrumb-link-wrap'
              itemprop='itemListElement'
              itemscope
              itemtype='https://schema.org/ListItem'>
        <a class='breadcrumb-link' asp-controller='Home' asp-action='Index' itemprop='item'>
            <span class='breadcrumb-link-text-wrap' itemprop='name'>
              <span class='home'> Trang chủ </span>
            </span>
          </a>
          <meta itemprop='position' content='1' />
        </span>
        <span aria-label='breadcrumb separator' class='separator'> » </span>
        Tin tức - Sự kiện");
}

<main class="content">
  <h1 class="archive-heading">
    <a asp-controller="PostList" asp-action="TinTucSuKien" title="Tin tức - Sự kiện" rel="nofollow">Tin tức - Sự kiện</a>
  </h1>
  <article class="post-1339 post type-post status-publish format-standard has-post-thumbnail category-hoat-dong-cua-cong-ty entry"
           itemscope
           itemtype="https://schema.org/CreativeWork">
    <a class="entry-image-link"
       href="https://diennuocag.com.vn/nam-2024-cong-ty-co-phan-dien-nuoc-an-giang-dat-doanh-thu-2-650-ty-dong"
       aria-hidden="true"
       tabindex="-1">
      <img loading="lazy"
           width="750"
           height="500"
           src="https://diennuocag.com.vn/wp-content/uploads/2025/01/img_8713_compressed-750x500.webp"
           class="post-image entry-image"
           alt=""
           itemprop="image"
           decoding="async" />
    </a>
    <header class="entry-header">
      <h2 class="entry-title" itemprop="headline">
        <a class="entry-title-link"
           rel="bookmark"
           href="https://diennuocag.com.vn/nam-2024-cong-ty-co-phan-dien-nuoc-an-giang-dat-doanh-thu-2-650-ty-dong">
          Năm 2024, Công ty Cổ phần Điện nước An Giang đạt doanh thu
          2.650 tỷ đồng
        </a>
      </h2>
      <p class="post-info">
        <time class="entry-modified-time"
              itemprop="dateModified"
              datetime="2025-01-24T08:34:23+07:00">24/01/2025</time>
        <span class="view">Đã xem: 4</span>
      </p>
    </header>
    <div class="entry-content" itemprop="text">
      <p>
        Sáng 23/1, Công ty Cổ phần Điện nước An Giang tổ chức Hội nghị
        đại biểu người lao động và họp mặt truyền thống cán bộ
      </p>
    </div>
    <footer class="entry-footer"></footer>
  </article>
  <article class="post-1312 post type-post status-publish format-standard has-post-thumbnail category-hoat-dong-cua-cong-ty entry"
           itemscope
           itemtype="https://schema.org/CreativeWork">
    <a class="entry-image-link"
       href="https://diennuocag.com.vn/mang-tet-am-ve-dong-bao-bien-gioi"
       aria-hidden="true"
       tabindex="-1">
      <img width="750"
           height="500"
           src="https://diennuocag.com.vn/wp-content/uploads/2025/01/z6246438898307_abf7ecb1adc22ec9d8f8176fb564d9ed-750x500.webp"
           class="post-image entry-image"
           alt=""
           itemprop="image"
           decoding="async"
           loading="lazy"
           srcset="
                    https://diennuocag.com.vn/wp-content/uploads/2025/01/z6246438898307_abf7ecb1adc22ec9d8f8176fb564d9ed-750x500.webp 750w,
                    https://diennuocag.com.vn/wp-content/uploads/2025/01/z6246438898307_abf7ecb1adc22ec9d8f8176fb564d9ed.webp         869w
                  "
           sizes="(max-width: 750px) 100vw, 750px" />
    </a>
    <header class="entry-header">
      <h2 class="entry-title" itemprop="headline">
        <a class="entry-title-link"
           rel="bookmark"
           href="https://diennuocag.com.vn/mang-tet-am-ve-dong-bao-bien-gioi">Mang tết ấm về đồng bào biên giới</a>
      </h2>
      <p class="post-info">
        <time class="entry-modified-time"
              itemprop="dateModified"
              datetime="2025-01-22T07:55:37+07:00">22/01/2025</time>
        <span class="view">Đã xem: 8</span>
      </p>
    </header>
    <div class="entry-content" itemprop="text">
      <p>
        Sáng ngày 17/01/2025, tại thị trấn An Phú và xã Quốc Thái
        (huyện An Phú). Đoàn Thanh niên Công ty cổ phần Điện Nước An
      </p>
    </div>
    <footer class="entry-footer"></footer>
  </article>
  <article class="post-1304 post type-post status-publish format-standard has-post-thumbnail category-tin-dia-phuong entry"
           itemscope
           itemtype="https://schema.org/CreativeWork">
    <a class="entry-image-link"
       href="https://diennuocag.com.vn/pho-chu-tich-ubnd-tinh-an-giang-le-van-phuoc-chuc-tet-cac-doanh-nghiep-2"
       aria-hidden="true"
       tabindex="-1">
      <img width="750"
           height="500"
           src="https://diennuocag.com.vn/wp-content/uploads/2025/01/img_7622_compressed-750x500.webp"
           class="post-image entry-image"
           alt=""
           itemprop="image"
           decoding="async"
           loading="lazy" />
    </a>
    <header class="entry-header">
      <h2 class="entry-title" itemprop="headline">
        <a class="entry-title-link"
           rel="bookmark"
           href="https://diennuocag.com.vn/pho-chu-tich-ubnd-tinh-an-giang-le-van-phuoc-chuc-tet-cac-doanh-nghiep-2">
          Phó Chủ tịch UBND tỉnh An Giang Lê Văn Phước chúc Tết các
          doanh nghiệp
        </a>
      </h2>
      <p class="post-info">
        <time class="entry-modified-time"
              itemprop="dateModified"
              datetime="2025-01-20T14:22:08+07:00">20/01/2025</time>
        <span class="view">Đã xem: 8</span>
      </p>
    </header>
    <div class="entry-content" itemprop="text">
      <p>
        Chiều 14/1, Ủy viên Ban Thường vụ Tỉnh ủy, Phó Chủ tịch UBND
        tỉnh An Giang Lê Văn Phước dẫn đầu đoàn công tác tỉnh đã
      </p>
    </div>
    <footer class="entry-footer"></footer>
  </article>
  <article class="post-1289 post type-post status-publish format-standard has-post-thumbnail category-diem-tin-nganh-nuoc entry"
           itemscope
           itemtype="https://schema.org/CreativeWork">
    <a class="entry-image-link"
       href="https://diennuocag.com.vn/tham-dinh-du-an-luat-cap-thoat-nuoc"
       aria-hidden="true"
       tabindex="-1">
      <img width="750"
           height="480"
           src="https://diennuocag.com.vn/wp-content/uploads/2025/01/tham-du-phien-hop-co-cac-thanh-vien-hoi-dong-tham-dinh-la-dai-dien-cac-don-vi-thuoc-bo-tu-phap-cac-bo-nganh-lien-quan-750x480.webp"
           class="post-image entry-image"
           alt=""
           itemprop="image"
           decoding="async"
           loading="lazy" />
    </a>
    <header class="entry-header">
      <h2 class="entry-title" itemprop="headline">
        <a class="entry-title-link"
           rel="bookmark"
           href="https://diennuocag.com.vn/tham-dinh-du-an-luat-cap-thoat-nuoc">Thẩm định dự án Luật Cấp Thoát nước</a>
      </h2>
      <p class="post-info">
        <time class="entry-modified-time"
              itemprop="dateModified"
              datetime="2025-01-10T08:05:55+07:00">10/01/2025</time>
        <span class="view">Đã xem: 16</span>
      </p>
    </header>
    <div class="entry-content" itemprop="text">
      <p>
        Sáng 9/1, Bộ Tư pháp tổ chức họp Hội đồng thẩm định Dự án Luật
        Cấp, thoát nước. Đồng chủ trì phiên họp là Thứ trưởng Bộ
      </p>
    </div>
    <footer class="entry-footer"></footer>
  </article>
  <article class="post-1281 post type-post status-publish format-standard has-post-thumbnail category-hoat-dong-cua-cong-ty entry"
           itemscope
           itemtype="https://schema.org/CreativeWork">
    <a class="entry-image-link"
       href="https://diennuocag.com.vn/cong-ty-co-phan-dien-nuoc-an-giang-to-chuc-hoi-nghi-giao-chi-tieu-ke-hoach-san-xuat-kinh-doanh-nam-2025-va-trao-quyet-dinh-can-bo-quan-ly"
       aria-hidden="true"
       tabindex="-1">
      <img width="750"
           height="500"
           src="https://diennuocag.com.vn/wp-content/uploads/2025/01/9-1-2025-cthdqt-phat-bieu-750x500.webp"
           class="post-image entry-image"
           alt=""
           itemprop="image"
           decoding="async"
           loading="lazy" />
    </a>
    <header class="entry-header">
      <h2 class="entry-title" itemprop="headline">
        <a class="entry-title-link"
           rel="bookmark"
           href="https://diennuocag.com.vn/cong-ty-co-phan-dien-nuoc-an-giang-to-chuc-hoi-nghi-giao-chi-tieu-ke-hoach-san-xuat-kinh-doanh-nam-2025-va-trao-quyet-dinh-can-bo-quan-ly">
          Công ty Cổ phần Điện Nước An Giang tổ chức hội nghị giao
          chỉ tiêu kế hoạch sản xuất, kinh doanh năm 2025 và trao
          quyết định cán bộ quản lý
        </a>
      </h2>
      <p class="post-info">
        <time class="entry-modified-time"
              itemprop="dateModified"
              datetime="2025-01-09T15:33:56+07:00">09/01/2025</time>
        <span class="view">Đã xem: 29</span>
      </p>
    </header>
    <div class="entry-content" itemprop="text">
      <p>
        Ngày 07/01/2025, Công ty Cổ phần Điện Nước An Giang đã tổ chức
        Hội nghị giao chỉ tiêu kế hoạch sản xuất, kinh doanh năm
      </p>
    </div>
    <footer class="entry-footer"></footer>
  </article>
  <article class="post-1259 post type-post status-publish format-standard has-post-thumbnail category-hoat-dong-cua-cong-ty entry"
           itemscope
           itemtype="https://schema.org/CreativeWork">
    <a class="entry-image-link"
       href="https://diennuocag.com.vn/ban-giao-cong-trinh-den-nang-luong-tai-xa-quoc-thai"
       aria-hidden="true"
       tabindex="-1">
      <img width="750"
           height="500"
           src="https://diennuocag.com.vn/wp-content/uploads/2025/01/z6193535027676_cd4336ce276da0b30f0c8be9360ebc54-750x500.webp"
           class="post-image entry-image"
           alt=""
           itemprop="image"
           decoding="async"
           loading="lazy" />
    </a>
    <header class="entry-header">
      <h2 class="entry-title" itemprop="headline">
        <a class="entry-title-link"
           rel="bookmark"
           href="https://diennuocag.com.vn/ban-giao-cong-trinh-den-nang-luong-tai-xa-quoc-thai">Bàn giao công trình đèn năng lượng tại xã Quốc Thái</a>
      </h2>
      <p class="post-info">
        <time class="entry-modified-time"
              itemprop="dateModified"
              datetime="2025-01-06T09:13:42+07:00">06/01/2025</time>
        <span class="view">Đã xem: 19</span>
      </p>
    </header>
    <div class="entry-content" itemprop="text">
      <p>
        Chiều 3/1, Liên đoàn Lao động tỉnh phối hợp Công ty Cổ phần
        Điện nước An Giang tổ chức nghiệm thu, bàn giao công trình
      </p>
    </div>
    <footer class="entry-footer"></footer>
  </article>
  <article class="post-1225 post type-post status-publish format-standard has-post-thumbnail category-diem-tin-nganh-nuoc entry"
           itemscope
           itemtype="https://schema.org/CreativeWork">
    <a class="entry-image-link"
       href="https://diennuocag.com.vn/huewaco-tong-ket-hoat-dong-nam-2024-dinh-huong-giai-doan-2025-2027"
       aria-hidden="true"
       tabindex="-1">
      <img width="750"
           height="480"
           src="https://diennuocag.com.vn/wp-content/uploads/2025/01/huewaco-cong-bo-va-trao-quyet-dinh-cong-tac-nhan-su-750x480.webp"
           class="post-image entry-image"
           alt=""
           itemprop="image"
           decoding="async"
           loading="lazy" />
    </a>
    <header class="entry-header">
      <h2 class="entry-title" itemprop="headline">
        <a class="entry-title-link"
           rel="bookmark"
           href="https://diennuocag.com.vn/huewaco-tong-ket-hoat-dong-nam-2024-dinh-huong-giai-doan-2025-2027">
          HueWACO: Tổng kết hoạt động năm 2024, định hướng giai đoạn
          2025 &#8211; 2027
        </a>
      </h2>
      <p class="post-info">
        <time class="entry-modified-time"
              itemprop="dateModified"
              datetime="2025-01-03T14:42:50+07:00">03/01/2025</time>
        <span class="view">Đã xem: 14</span>
      </p>
    </header>
    <div class="entry-content" itemprop="text">
      <p>
        Chiều 31/12/2024, tại thành phố Huế, HueWACO đã tổ chức Hội
        nghị Tổng kết hoạt động SXKD năm 2024 và Định hướng giai
      </p>
    </div>
    <footer class="entry-footer"></footer>
  </article>
  <article class="post-1218 post type-post status-publish format-standard has-post-thumbnail category-hoat-dong-cua-cong-ty entry"
           itemscope
           itemtype="https://schema.org/CreativeWork">
    <a class="entry-image-link"
       href="https://diennuocag.com.vn/ban-giao-nha-dai-doan-ket-cho-cong-nhan-xi-nghiep-dien-nuoc-huyen-an-phu"
       aria-hidden="true"
       tabindex="-1">
      <img width="750"
           height="500"
           src="https://diennuocag.com.vn/wp-content/uploads/2024/12/trao-nha-cho-cong-nhan-bui-van-nam-750x500.webp"
           class="post-image entry-image"
           alt=""
           itemprop="image"
           decoding="async"
           loading="lazy" />
    </a>
    <header class="entry-header">
      <h2 class="entry-title" itemprop="headline">
        <a class="entry-title-link"
           rel="bookmark"
           href="https://diennuocag.com.vn/ban-giao-nha-dai-doan-ket-cho-cong-nhan-xi-nghiep-dien-nuoc-huyen-an-phu">
          Bàn giao nhà đại đoàn kết cho công nhân Xí nghiệp Điện nước
          huyện An Phú
        </a>
      </h2>
      <p class="post-info">
        <time class="entry-modified-time"
              itemprop="dateModified"
              datetime="2024-12-27T08:27:45+07:00">27/12/2024</time>
        <span class="view">Đã xem: 19</span>
      </p>
    </header>
    <div class="entry-content" itemprop="text">
      <p>
        Sáng 22/12, Chi hội cấp thoát nước miền Nam phối hợp cùng Công
        ty Cổ phần Điện nước An Giang tổ chức bàn giao nhà đại
      </p>
    </div>
    <footer class="entry-footer"></footer>
  </article>
  <article class="post-1213 post type-post status-publish format-standard has-post-thumbnail category-diem-tin-nganh-nuoc entry"
           itemscope
           itemtype="https://schema.org/CreativeWork">
    <a class="entry-image-link"
       href="https://diennuocag.com.vn/giai-phap-cung-ung-nuoc-sach-cho-tp-ho-chi-minh-va-cac-do-thi-viet-nam"
       aria-hidden="true"
       tabindex="-1">
      <img width="640"
           height="427"
           src="https://diennuocag.com.vn/wp-content/uploads/2024/12/ts-nguyen-ngoc-diep-chu-tich-hoi-cap-thoat-nuoc-viet-nam-ben-phai-cung-lanh-dao-sawaco-tham-du-hoi-thao.webp"
           class="post-image entry-image"
           alt=""
           itemprop="image"
           decoding="async"
           loading="lazy" />
    </a>
    <header class="entry-header">
      <h2 class="entry-title" itemprop="headline">
        <a class="entry-title-link"
           rel="bookmark"
           href="https://diennuocag.com.vn/giai-phap-cung-ung-nuoc-sach-cho-tp-ho-chi-minh-va-cac-do-thi-viet-nam">
          Giải pháp cung ứng nước sạch cho TP. Hồ Chí Minh và các đô
          thị Việt Nam
        </a>
      </h2>
      <p class="post-info">
        <time class="entry-modified-time"
              itemprop="dateModified"
              datetime="2024-12-27T08:16:01+07:00">27/12/2024</time>
        <span class="view">Đã xem: 9</span>
      </p>
    </header>
    <div class="entry-content" itemprop="text">
      <p>
        Ngày 26/12/2024 tại TP.HCM, Tổng Công ty Cấp nước Sài Gòn
        (SAWACO) đã tổ chức Hội thảo "Thách thức và giải pháp cung ứng
      </p>
    </div>
    <footer class="entry-footer"></footer>
  </article>
  <article class="post-1086 post type-post status-publish format-standard has-post-thumbnail category-khach-hang-can-biet category-van-ban-quan-ly-dieu-hanh entry"
           itemscope
           itemtype="https://schema.org/CreativeWork">
    <a class="entry-image-link"
       href="https://diennuocag.com.vn/dieu-chinh-gia-dich-vu-thoat-nuoc-tren-dia-ban-thanh-pho-long-xuyen"
       aria-hidden="true"
       tabindex="-1">
      <img width="750"
           height="400"
           src="https://diennuocag.com.vn/wp-content/uploads/2024/11/white-and-blue-modern-business-card-800-x-400-px-750x400.png"
           class="post-image entry-image"
           alt=""
           itemprop="image"
           decoding="async"
           loading="lazy" />
    </a>
    <header class="entry-header">
      <h2 class="entry-title" itemprop="headline">
        <a class="entry-title-link"
           rel="bookmark"
           href="https://diennuocag.com.vn/dieu-chinh-gia-dich-vu-thoat-nuoc-tren-dia-ban-thanh-pho-long-xuyen">
          Điều chỉnh giá dịch vụ thoát nước trên địa bàn Thành phố
          Long Xuyên
        </a>
      </h2>
      <p class="post-info">
        <time class="entry-modified-time"
              itemprop="dateModified"
              datetime="2024-12-23T09:04:59+07:00">23/12/2024</time>
        <span class="view">Đã xem: 49</span>
      </p>
    </header>
    <div class="entry-content" itemprop="text">
      <p>
        Thông báo số 1479/CTCPĐN.QLKH về việc điều chỉnh giá dịch vụ
        thoát nước trên địa bàn Thành phố Long Xuyên do Công ty CP
      </p>
    </div>
    <footer class="entry-footer"></footer>
  </article>
  <div class="archive-pagination pagination">
    <ul>
      <li class="active">
        <a href="https://diennuocag.com.vn/tin-tuc-su-kien"
           aria-label="Current page"
           aria-current="page">1</a>
      </li>
      <li>
        <a href="https://diennuocag.com.vn/tin-tuc-su-kien/page/2">2</a>
      </li>
      <li>
        <a href="https://diennuocag.com.vn/tin-tuc-su-kien/page/3">3</a>
      </li>
      <li class="pagination-omission">&#x02026;</li>
      <li>
        <a href="https://diennuocag.com.vn/tin-tuc-su-kien/page/8">8</a>
      </li>
      <li class="pagination-next">
        <a href="https://diennuocag.com.vn/tin-tuc-su-kien/page/2">&#x000BB;</a>
      </li>
    </ul>
  </div>
</main>

