@{
  ViewData["Title"] = "Powaco - Công ty cổ phần điện nước An Giang";
}
<main class="content">
  <div class="content-feauture section">
    <section id="caia-post-list-9" class="widget caia-post-list-widget">
      <div class="widget-wrap">
        <div class="main-posts">
          <div class="post-1354 post type-post status-publish format-standard has-post-thumbnail category-diem-tin-nganh-nuoc entry">
            <a asp-controller="Home" asp-action="TinTucSuKien/DiemTinTrongNuoc/dam-bao-cap-nuoc-phuc-vu-tet-nguyen-dan-at-ty-2025"
               title="Đảm bảo cấp nước phục vụ Tết Nguyên đán Ất Tỵ 2025"
               class="alignnone">
              <img width="640"
                   height="334"
                   src="~/Images/Upload/06012025chuanbidoanfhotnhaf-17385430344271668328354.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt="Đảm bảo cấp nước phục vụ Tết Nguyên đán Ất Tỵ 2025"
                   title="Đảm bảo cấp nước phục vụ Tết Nguyên đán Ất Tỵ 2025"
                   decoding="async" />
            </a>

            <div class="list-info">
              <h3 class="widget-item-title">
                <a asp-controller="Home" asp-action="TinTucSuKien/DiemTinTrongNuoc/dam-bao-cap-nuoc-phuc-vu-tet-nguyen-dan-at-ty-2025"
                   title="Đảm bảo cấp nước phục vụ Tết Nguyên đán Ất Tỵ 2025">
                  Đảm bảo cấp nước phục vụ Tết Nguyên đán Ất Tỵ 2025
                </a>
              </h3>
            </div>
          </div>
          <div class="post-1348 post type-post status-publish format-standard has-post-thumbnail category-tin-dia-phuong entry">
            <a asp-controller="Home" asp-action="TinTucSuKien/tin-dia-phuong/bao-an-giang-cau-noi-nhung-tam-long-nhan-ai"
               title="Báo An Giang – cầu nối những tấm lòng nhân ái"
               class="alignnone">
              <img width="700"
                   height="500"
                   src="~/Images/Upload/5ac8a6eb65a48cfad5b5-jpg-700x500.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt="Báo An Giang – cầu nối những tấm lòng nhân ái"
                   title="Báo An Giang – cầu nối những tấm lòng nhân ái"
                   decoding="async" />
            </a>
            <div class="list-info">
              <h3 class="widget-item-title">
                <a asp-controller="Home" asp-action="TinTucSuKien/tin-dia-phuong/bao-an-giang-cau-noi-nhung-tam-long-nhan-ai"
                   title="Báo An Giang – cầu nối những tấm lòng nhân ái">
                  Báo An Giang – cầu nối những tấm lòng nhân ái
                </a>
              </h3>
            </div>
          </div>
          <div class="post-1339 post type-post status-publish format-standard has-post-thumbnail category-hoat-dong-cua-cong-ty entry">
            <a asp-controller="Home" asp-action="TinTucSuKien/hoat-dong-cua-cong-ty/nam-2024-cong-ty-co-phan-dien-nuoc-an-giang-dat-doanh-thu-2-650-ty-dong"
               title="Năm 2024, Công ty Cổ phần Điện nước An Giang đạt doanh thu 2.650 tỷ đồng"
               class="alignnone">
              <img width="750"
                   height="500"
                   src="~/Images/Upload/img_8713_compressed-750x500.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt="Năm 2024, Công ty Cổ phần Điện nước An Giang đạt doanh thu 2.650 tỷ đồng"
                   title="Năm 2024, Công ty Cổ phần Điện nước An Giang đạt doanh thu 2.650 tỷ đồng"
                   decoding="async" />
            </a>
            <div class="list-info">
              <h3 class="widget-item-title">
                <a asp-controller="Home" asp-action="TinTucSuKien/hoat-dong-cua-cong-ty/nam-2024-cong-ty-co-phan-dien-nuoc-an-giang-dat-doanh-thu-2-650-ty-dong"
                   title="Năm 2024, Công ty Cổ phần Điện nước An Giang đạt doanh thu 2.650 tỷ đồng">
                  Năm 2024, Công ty Cổ phần Điện nước An Giang đạt
                  doanh thu 2.650 tỷ đồng
                </a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="caia-post-list-10"
             class="widget caia-post-list-widget">
      <div class="widget-wrap">
        <div class="main-posts"></div>
        <ul>
          <li>
            <a asp-controller="Home" asp-action="TinTucSuKien/DiemTinTrongNuoc/dam-bao-cap-nuoc-phuc-vu-tet-nguyen-dan-at-ty-2025"
               title=""
               class="alignleft">
              <img width="640"
                   height="334"
                   src="~/Images/Upload/06012025chuanbidoanfhotnhaf-17385430344271668328354.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt=""
                   title=""
                   decoding="async" />
            </a>
            <p>
              <a asp-controller="Home" asp-action="TinTucSuKien/DiemTinTrongNuoc/dam-bao-cap-nuoc-phuc-vu-tet-nguyen-dan-at-ty-2025"
                 title="Đảm bảo cấp nước phục vụ Tết Nguyên đán Ất Tỵ 2025">
                Đảm bảo cấp nước phục vụ Tết Nguyên đán Ất Tỵ 2025
              </a>
            </p>
            <p class="byline post-info">
              <time class="entry-time"
                    itemprop="datePublished"
                    datetime="2025-02-03T09:30:54+07:00">
                03/02/2025
              </time>
            </p>
          </li>
          <li>
            <a asp-controller="Home" asp-action="TinTucSuKien/tin-dia-phuong/bao-an-giang-cau-noi-nhung-tam-long-nhan-ai"
               title=""
               class="alignleft">
              <img width="700"
                   height="500"
                   src="~/Images/Upload/5ac8a6eb65a48cfad5b5-jpg-700x500.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt=""
                   title=""
                   decoding="async" />
            </a>
            <p>
              <a asp-controller="Home" asp-action="TinTucSuKien/tin-dia-phuong/bao-an-giang-cau-noi-nhung-tam-long-nhan-ai"
                 title="Báo An Giang – cầu nối những tấm lòng nhân ái">
                Báo An Giang – cầu nối những tấm lòng nhân ái
              </a>
            </p>
            <p class="byline post-info">
              <time class="entry-time"
                    itemprop="datePublished"
                    datetime="2025-02-03T07:58:20+07:00">
                03/02/2025
              </time>
            </p>
          </li>
          <li>
            <a asp-controller="Home" asp-action="TinTucSuKien/hoat-dong-cua-cong-ty/nam-2024-cong-ty-co-phan-dien-nuoc-an-giang-dat-doanh-thu-2-650-ty-dong"
               title=""
               class="alignleft">
              <img width="750"
                   height="500"
                   src="~/Images/Upload/img_8713_compressed-750x500.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt=""
                   title=""
                   decoding="async" />
            </a>
            <p>
              <a asp-controller="Home" asp-action="TinTucSuKien/hoat-dong-cua-cong-ty/nam-2024-cong-ty-co-phan-dien-nuoc-an-giang-dat-doanh-thu-2-650-ty-dong"
                 title="Năm 2024, Công ty Cổ phần Điện nước An Giang đạt doanh thu 2.650 tỷ đồng">
                Năm 2024, Công ty Cổ phần Điện nước An Giang đạt doanh
                thu 2.650 tỷ đồng
              </a>
            </p>
            <p class="byline post-info">
              <time class="entry-time"
                    itemprop="datePublished"
                    datetime="2025-01-24T08:34:23+07:00">
                24/01/2025
              </time>
            </p>
          </li>
        </ul>
      </div>
    </section>
    <section id="media_image-13" class="widget widget_media_image">
      <div class="widget-wrap">
        <a asp-controller="Home" asp-action="dich-vu-truc-tuyen/index">
          <img width="1265"
               height="300"
               src="~/Images/banner.jpg"
               class="image wp-image-84 attachment-full size-full"
               alt=""
               decoding="async" />
        </a>
      </div>
    </section>
  </div>
  <div class="content-new section">
    <section id="caia-post-list-3" class="widget caia-post-list-widget">
      <div class="widget-wrap">
        <div class="widget-title widgettitle">
          <h2>
            <a asp-controller="Home" asp-action="TinTucSuKien/hoat-dong-cua-cong-ty/index">
              Tin Công ty
            </a>
          </h2>
        </div>
        <div class="main-posts">
          <div class="post-1339 post type-post status-publish format-standard has-post-thumbnail category-hoat-dong-cua-cong-ty entry">
            <a asp-controller="Home" asp-action="TinTucSuKien/hoat-dong-cua-cong-ty/nam-2024-cong-ty-co-phan-dien-nuoc-an-giang-dat-doanh-thu-2-650-ty-dong"
               title="Năm 2024, Công ty Cổ phần Điện nước An Giang đạt doanh thu 2.650 tỷ đồng"
               class="alignnone">
              <img width="750"
                   height="500"
                   src="~/Images/Upload/img_8713_compressed-750x500.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt="Năm 2024, Công ty Cổ phần Điện nước An Giang đạt doanh thu 2.650 tỷ đồng"
                   title="Năm 2024, Công ty Cổ phần Điện nước An Giang đạt doanh thu 2.650 tỷ đồng"
                   decoding="async" />
            </a>
            <div class="list-info">
              <h3 class="widget-item-title">
                <a asp-controller="Home" asp-action="TinTucSuKien/hoat-dong-cua-cong-ty/nam-2024-cong-ty-co-phan-dien-nuoc-an-giang-dat-doanh-thu-2-650-ty-dong"
                   title="Năm 2024, Công ty Cổ phần Điện nước An Giang đạt doanh thu 2.650 tỷ đồng">
                  Năm 2024, Công ty Cổ phần Điện nước An Giang đạt
                  doanh thu 2.650 tỷ đồng
                </a>
              </h3>
            </div>
          </div>
        </div>
        <ul>
          <li>
            <a asp-controller="Home" asp-action="TinTucSuKien/hoat-dong-cua-cong-ty/mang-tet-am-ve-dong-bao-bien-gioi"
               title=""
               class="alignleft">
              <img width="750"
                   height="500"
                   src="~/Images/Upload/z6246438898307_abf7ecb1adc22ec9d8f8176fb564d9ed-750x500.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt=""
                   title=""
                   decoding="async"
                   srcset="
                            ~/Images/Upload/z6246438898307_abf7ecb1adc22ec9d8f8176fb564d9ed-750x500.webp 750w,
                            ~/Images/Upload/z6246438898307_abf7ecb1adc22ec9d8f8176fb564d9ed.webp         869w
                          "
                   sizes="(max-width: 750px) 100vw, 750px" />
            </a>
            <h3>
              <a asp-controller="Home" asp-action="TinTucSuKien/hoat-dong-cua-cong-ty/mang-tet-am-ve-dong-bao-bien-gioi"
                 title="Mang tết ấm về đồng bào biên giới">
                Mang tết ấm về đồng bào biên giới
              </a>
            </h3>
          </li>
          <li>
            <a asp-controller="Home" asp-action="TinTucSuKien/hoat-dong-cua-cong-ty/cong-ty-co-phan-dien-nuoc-an-giang-to-chuc-hoi-nghi-giao-chi-tieu-ke-hoach-san-xuat-kinh-doanh-nam-2025-va-trao-quyet-dinh-can-bo-quan-ly"
               title=""
               class="alignleft">
              <img width="750"
                   height="500"
                   src="~/Images/Upload/9-1-2025-cthdqt-phat-bieu-750x500.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt=""
                   title=""
                   decoding="async" />
            </a>
            <h3>
              <a asp-controller="Home" asp-action="TinTucSuKien/hoat-dong-cua-cong-ty/cong-ty-co-phan-dien-nuoc-an-giang-to-chuc-hoi-nghi-giao-chi-tieu-ke-hoach-san-xuat-kinh-doanh-nam-2025-va-trao-quyet-dinh-can-bo-quan-ly"
                 title="Công ty Cổ phần Điện Nước An Giang tổ chức hội nghị giao chỉ tiêu kế hoạch sản xuất, kinh doanh năm 2025 và trao quyết định cán bộ quản lý">
                Công ty Cổ phần Điện Nước An Giang tổ chức hội nghị
                giao chỉ tiêu kế hoạch sản xuất, kinh doanh năm 2025
                và trao quyết định cán bộ quản lý
              </a>
            </h3>
          </li>
          <li>
            <a asp-controller="Home" asp-action="TinTucSuKien/hoat-dong-cua-cong-ty/ban-giao-cong-trinh-den-nang-luong-tai-xa-quoc-thai"
               title=""
               class="alignleft">
              <img width="750"
                   height="500"
                   src="~/Images/Upload/z6193535027676_cd4336ce276da0b30f0c8be9360ebc54-750x500.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt=""
                   title=""
                   decoding="async" />
            </a>
            <h3>
              <a asp-controller="Home" asp-action="TinTucSuKien/hoat-dong-cua-cong-ty/ban-giao-cong-trinh-den-nang-luong-tai-xa-quoc-thai"
                 title="Bàn giao công trình đèn năng lượng tại xã Quốc Thái">
                Bàn giao công trình đèn năng lượng tại xã Quốc Thái
              </a>
            </h3>
          </li>
        </ul>
      </div>
    </section>
    <section id="caia-post-list-6"
             class="widget caia-post-list-widget">
      <div class="widget-wrap">
        <div class="widget-title widgettitle">
          <h2>
            <a asp-controller="Home" asp-action="TinTucSuKien/hoi-thao-hoi-thao/index">
              Hội thảo - Hội thao
            </a>
          </h2>
        </div>
        <div class="main-posts">
          <div class="post-375 post type-post status-publish format-standard has-post-thumbnail category-hoi-thao-hoi-thao entry">
            <a asp-controller="Home" asp-action="TinTucSuKien/hoi-thao-hoi-thao/soi-noi-giai-bong-da-tu-hung-cua-khoi-thi-dua-so-2"
               title="Sôi nổi Giải Bóng đá tứ hùng của Khối Thi đua số 2"
               class="alignnone">
              <img width="750"
                   height="500"
                   src="~/Images/Upload/image001-750x500.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt="Sôi nổi Giải Bóng đá tứ hùng của Khối Thi đua số 2"
                   title="Sôi nổi Giải Bóng đá tứ hùng của Khối Thi đua số 2"
                   decoding="async"
                   srcset="
                            ~/Images/Upload/image001-750x500.webp  750w,
                            ~/Images/Upload/image001.webp         1430w
                          "
                   sizes="(max-width: 750px) 100vw, 750px" />
            </a>
            <div class="list-info">
              <h3 class="widget-item-title">
                <a asp-controller="Home" asp-action="TinTucSuKien/hoi-thao-hoi-thao/soi-noi-giai-bong-da-tu-hung-cua-khoi-thi-dua-so-2"
                   title="Sôi nổi Giải Bóng đá tứ hùng của Khối Thi đua số 2">
                  Sôi nổi Giải Bóng đá tứ hùng của Khối Thi đua số 2
                </a>
              </h3>
            </div>
          </div>
        </div>
        <ul>
          <li>
            <a asp-controller="Home" asp-action="TinTucSuKien/hoi-thao-hoi-thao/cong-ty-co-phan-dien-nuoc-an-giang-to-chuc-hoi-thi-an-toan-ve-sinh-vien-gioi-lan-thu-vii-2023"
               title=""
               class="alignleft">
              <img width="750"
                   height="500"
                   src="~/Images/Upload/ht05-750x500.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt=""
                   title=""
                   decoding="async" />
            </a>
            <h3>
              <a asp-controller="Home" asp-action="TinTucSuKien/hoi-thao-hoi-thao/cong-ty-co-phan-dien-nuoc-an-giang-to-chuc-hoi-thi-an-toan-ve-sinh-vien-gioi-lan-thu-vii-2023"
                 title="Công ty Cổ phần Điện nước An Giang tổ chức Hội thi an toàn, vệ sinh viên giỏi lần thứ VII/2023">
                Công ty Cổ phần Điện nước An Giang tổ chức Hội thi an
                toàn, vệ sinh viên giỏi lần thứ VII/2023
              </a>
            </h3>
          </li>
          <li>
            <a asp-controller="Home" asp-action="TinTucSuKien/hoi-thao-hoi-thao/soi-noi-hoi-thao-nganh-dien-nuoc-an-giang-2019"
               title=""
               class="alignleft">
              <img width="750"
                   height="500"
                   src="~/Images/Upload/htcm01-750x500.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt=""
                   title=""
                   decoding="async"
                   srcset="
                            ~/Images/Upload/htcm01-750x500.webp  750w,
                            ~/Images/Upload/htcm01.webp         1000w
                          "
                   sizes="(max-width: 750px) 100vw, 750px" />
            </a>
            <h3>
              <a asp-controller="Home" asp-action="TinTucSuKien/hoi-thao-hoi-thao/soi-noi-hoi-thao-nganh-dien-nuoc-an-giang-2019"
                 title="Sôi nổi Hội thao ngành Điện nước An Giang 2019">
                Sôi nổi Hội thao ngành Điện nước An Giang 2019
              </a>
            </h3>
          </li>
          <li>
            <a asp-controller="Home" asp-action="TinTucSuKien/hoi-thao-hoi-thao/giai-bong-da-cong-nhan-vien-chuc-lao-dong-tinh-mung-dang-mung-xuan-van-phong-dang-ky-dat-dai-va-cong-ty-co-phan-dien-nuoc-an-giang-doat-chuc-vo-dich"
               title=""
               class="alignleft">
              <img width="750"
                   height="496"
                   src="~/Images/Upload/dabanhxuan2019-750x496.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt=""
                   title=""
                   decoding="async" />
            </a>
            <h3>
              <a asp-controller="Home" asp-action="TinTucSuKien/hoi-thao-hoi-thao/giai-bong-da-cong-nhan-vien-chuc-lao-dong-tinh-mung-dang-mung-xuan-van-phong-dang-ky-dat-dai-va-cong-ty-co-phan-dien-nuoc-an-giang-doat-chuc-vo-dich"
                 title="Giải bóng đá công nhân, viên chức, lao động tỉnh mừng Đảng, mừng xuân: Văn phòng Đăng ký đất đai và Công ty Cổ phần Điện nước An Giang đoạt chức vô địch">
                Giải bóng đá công nhân, viên chức, lao động tỉnh mừng
                Đảng, mừng xuân: Văn phòng Đăng ký đất đai và Công ty
                Cổ phần Điện nước An Giang đoạt chức vô địch
              </a>
            </h3>
          </li>
        </ul>
      </div>
    </section>
    <section id="caia-post-list-7"
             class="widget caia-post-list-widget">
      <div class="widget-wrap">
        <div class="widget-title widgettitle">
          <h2>
            <a asp-controller="Home" asp-action="TinTucSuKien/DiemTinTrongNuoc/index">
              Điểm tin ngành nước
            </a>
          </h2>
        </div>
        <div class="main-posts">
          <div class="post-1354 post type-post status-publish format-standard has-post-thumbnail category-diem-tin-nganh-nuoc entry">
            <a asp-controller="Home" asp-action="TinTucSuKien/DiemTinTrongNuoc/dam-bao-cap-nuoc-phuc-vu-tet-nguyen-dan-at-ty-2025"
               title="Đảm bảo cấp nước phục vụ Tết Nguyên đán Ất Tỵ 2025"
               class="alignnone">
              <img width="640"
                   height="334"
                   src="~/Images/Upload/06012025chuanbidoanfhotnhaf-17385430344271668328354.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt="Đảm bảo cấp nước phục vụ Tết Nguyên đán Ất Tỵ 2025"
                   title="Đảm bảo cấp nước phục vụ Tết Nguyên đán Ất Tỵ 2025"
                   decoding="async" />
            </a>
            <div class="list-info">
              <h3 class="widget-item-title">
                <a asp-controller="Home" asp-action="TinTucSuKien/DiemTinTrongNuoc/dam-bao-cap-nuoc-phuc-vu-tet-nguyen-dan-at-ty-2025"
                   title="Đảm bảo cấp nước phục vụ Tết Nguyên đán Ất Tỵ 2025">
                  Đảm bảo cấp nước phục vụ Tết Nguyên đán Ất Tỵ 2025
                </a>
              </h3>
            </div>
          </div>
        </div>
        <ul>
          <li>
            <a asp-controller="Home" asp-action="TinTucSuKien/DiemTinTrongNuoc/tham-dinh-du-an-luat-cap-thoat-nuoc"
               title=""
               class="alignleft">
              <img width="750"
                   height="480"
                   src="~/Images/Upload/tham-du-phien-hop-co-cac-thanh-vien-hoi-dong-tham-dinh-la-dai-dien-cac-don-vi-thuoc-bo-tu-phap-cac-bo-nganh-lien-quan-750x480.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt=""
                   title=""
                   decoding="async" />
            </a>
            <h3>
              <a asp-controller="Home" asp-action="TinTucSuKien/DiemTinTrongNuoc/tham-dinh-du-an-luat-cap-thoat-nuoc"
                 title="Thẩm định dự án Luật Cấp Thoát nước">
                Thẩm định dự án Luật Cấp Thoát nước
              </a>
            </h3>
          </li>
          <li>
            <a asp-controller="Home" asp-action="TinTucSuKien/DiemTinTrongNuoc/huewaco-tong-ket-hoat-dong-nam-2024-dinh-huong-giai-doan-2025-2027"
               title=""
               class="alignleft">
              <img width="750"
                   height="480"
                   src="~/Images/Upload/huewaco-cong-bo-va-trao-quyet-dinh-cong-tac-nhan-su-750x480.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt=""
                   title=""
                   decoding="async" />
            </a>
            <h3>
              <a asp-controller="Home" asp-action="TinTucSuKien/DiemTinTrongNuoc/huewaco-tong-ket-hoat-dong-nam-2024-dinh-huong-giai-doan-2025-2027"
                 title="HueWACO: Tổng kết hoạt động năm 2024, định hướng giai đoạn 2025 &#8211; 2027">
                HueWACO: Tổng kết hoạt động năm 2024, định hướng giai
                đoạn 2025 &#8211; 2027
              </a>
            </h3>
          </li>
          <li>
            <a asp-controller="Home" asp-action="TinTucSuKien/DiemTinTrongNuoc/giai-phap-cung-ung-nuoc-sach-cho-tp-ho-chi-minh-va-cac-do-thi-viet-nam"
               title=""
               class="alignleft">
              <img width="640"
                   height="427"
                   src="~/Images/Upload/ts-nguyen-ngoc-diep-chu-tich-hoi-cap-thoat-nuoc-viet-nam-ben-phai-cung-lanh-dao-sawaco-tham-du-hoi-thao.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt=""
                   title=""
                   decoding="async" />
            </a>
            <h3>
              <a asp-controller="Home" asp-action="TinTucSuKien/DiemTinTrongNuoc/giai-phap-cung-ung-nuoc-sach-cho-tp-ho-chi-minh-va-cac-do-thi-viet-nam"
                 title="Giải pháp cung ứng nước sạch cho TP. Hồ Chí Minh và các đô thị Việt Nam">
                Giải pháp cung ứng nước sạch cho TP. Hồ Chí Minh và
                các đô thị Việt Nam
              </a>
            </h3>
          </li>
        </ul>
      </div>
    </section>
    <section id="caia-post-list-5"
             class="widget caia-post-list-widget">
      <div class="widget-wrap">
        <div class="widget-title widgettitle">
          <h2>
            <a asp-controller="Home" asp-action="TinTucSuKien/tin-dia-phuong/index">
              Tin địa phương
            </a>
          </h2>
        </div>
        <div class="main-posts">
          <div class="post-1348 post type-post status-publish format-standard has-post-thumbnail category-tin-dia-phuong entry">
            <a asp-controller="Home" asp-action="TinTucSuKien/tin-dia-phuong/bao-an-giang-cau-noi-nhung-tam-long-nhan-ai"
               title="Báo An Giang – cầu nối những tấm lòng nhân ái"
               class="alignnone">
              <img width="700"
                   height="500"
                   src="~/Images/Upload/5ac8a6eb65a48cfad5b5-jpg-700x500.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt="Báo An Giang – cầu nối những tấm lòng nhân ái"
                   title="Báo An Giang – cầu nối những tấm lòng nhân ái"
                   decoding="async" />
            </a>
            <div class="list-info">
              <h3 class="widget-item-title">
                <a asp-controller="Home" asp-action="TinTucSuKien/tin-dia-phuong/bao-an-giang-cau-noi-nhung-tam-long-nhan-ai"
                   title="Báo An Giang – cầu nối những tấm lòng nhân ái">
                  Báo An Giang – cầu nối những tấm lòng nhân ái
                </a>
              </h3>
            </div>
          </div>
        </div>
        <ul>
          <li>
            <a asp-controller="Home" asp-action="TinTucSuKien/tin-dia-phuong/pho-chu-tich-ubnd-tinh-an-giang-le-van-phuoc-chuc-tet-cac-doanh-nghiep-2"
               title=""
               class="alignleft">
              <img width="750"
                   height="500"
                   src="~/Images/Upload/img_7622_compressed-750x500.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt=""
                   title=""
                   decoding="async" />
            </a>
            <h3>
              <a asp-controller="Home" asp-action="TinTucSuKien/tin-dia-phuong/pho-chu-tich-ubnd-tinh-an-giang-le-van-phuoc-chuc-tet-cac-doanh-nghiep-2"
                 title="Phó Chủ tịch UBND tỉnh An Giang Lê Văn Phước chúc Tết các doanh nghiệp">
                Phó Chủ tịch UBND tỉnh An Giang Lê Văn Phước chúc Tết
                các doanh nghiệp
              </a>
            </h3>
          </li>
          <li>
            <a asp-controller="Home" asp-action="TinTucSuKien/tin-dia-phuong/niem-vui-o-noi-di-san-van-hoa-phi-vat-the-dai-dien-cua-nhan-loai"
               title=""
               class="alignleft">
              <img width="750"
                   height="500"
                   src="~/Images/Upload/img_9249-750x500.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt=""
                   title=""
                   decoding="async" />
            </a>
            <h3>
              <a asp-controller="Home" asp-action="TinTucSuKien/tin-dia-phuong/niem-vui-o-noi-di-san-van-hoa-phi-vat-the-dai-dien-cua-nhan-loai"
                 title="Niềm vui ở nơi Di sản văn hóa phi vật thể đại diện của nhân loại">
                Niềm vui ở nơi Di sản văn hóa phi vật thể đại diện của
                nhân loại
              </a>
            </h3>
          </li>
          <li>
            <a asp-controller="Home" asp-action="TinTucSuKien/tin-dia-phuong/an-giang-long-trong-to-chuc-le-ky-niem-200-nam-hoan-thanh-kenh-vinh-te-va-tuong-niem-198-nam-ngay-mat-cua-ba-chau-thi-te"
               title=""
               class="alignleft">
              <img width="750"
                   height="500"
                   src="~/Images/Upload/lth00674-750x500.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt=""
                   title=""
                   decoding="async" />
            </a>
            <h3>
              <a asp-controller="Home" asp-action="TinTucSuKien/tin-dia-phuong/an-giang-long-trong-to-chuc-le-ky-niem-200-nam-hoan-thanh-kenh-vinh-te-va-tuong-niem-198-nam-ngay-mat-cua-ba-chau-thi-te"
                 title="An Giang long trọng tổ chức Lễ kỷ niệm “200 năm hoàn thành kênh Vĩnh Tế” và tưởng niệm 198 năm Ngày mất của bà Châu Thị Tế">
                An Giang long trọng tổ chức Lễ kỷ niệm “200 năm hoàn
                thành kênh Vĩnh Tế” và tưởng niệm 198 năm Ngày mất của
                bà Châu Thị Tế
              </a>
            </h3>
          </li>
        </ul>
      </div>
    </section>
    <section id="caia-post-list-4"
             class="widget caia-post-list-widget">
      <div class="widget-wrap">
        <div class="widget-title widgettitle">
          <h2>
            <a asp-controller="Home" asp-action="TinTucSuKien/tin-khoa-hoc-cong-nghe/index">
              Tin khoa học - Công nghệ
            </a>
          </h2>
        </div>
        <div class="main-posts">
          <div class="post-877 post type-post status-publish format-standard has-post-thumbnail category-tin-khoa-hoc-cong-nghe entry">
            <a asp-controller="Home" asp-action="TinTucSuKien/tin-khoa-hoc-cong-nghe/giai-phap-chong-ngap-do-thi-thich-ung-voi-bien-doi-khi-hau"
               title="Giải pháp chống ngập đô thị thích ứng với biến đổi khí hậu"
               class="alignnone">
              <img width="750"
                   height="500"
                   src="~/Images/Upload/dsc0987726112024172008139-1732679635024-17326796362732045902189-750x500.png"
                   class="attachment-thumbnail size-thumbnail"
                   alt="Giải pháp chống ngập đô thị thích ứng với biến đổi khí hậu"
                   title="Giải pháp chống ngập đô thị thích ứng với biến đổi khí hậu"
                   decoding="async"
                   srcset="
                            ~/Images/Upload/dsc0987726112024172008139-1732679635024-17326796362732045902189-750x500.png  750w,
                            ~/Images/Upload/dsc0987726112024172008139-1732679635024-17326796362732045902189.png         1350w
                          "
                   sizes="(max-width: 750px) 100vw, 750px" />
            </a>
            <div class="list-info">
              <h3 class="widget-item-title">
                <a asp-controller="Home" asp-action="TinTucSuKien/tin-khoa-hoc-cong-nghe/giai-phap-chong-ngap-do-thi-thich-ung-voi-bien-doi-khi-hau"
                   title="Giải pháp chống ngập đô thị thích ứng với biến đổi khí hậu">
                  Giải pháp chống ngập đô thị thích ứng với biến đổi
                  khí hậu
                </a>
              </h3>
            </div>
          </div>
        </div>
        <ul>
          <li>
            <a asp-controller="Home" asp-action="TinTucSuKien/tin-khoa-hoc-cong-nghe/loai-bo-hoa-chat-vinh-vien-khoi-nuoc-bang-phuong-phap-dien-phan-moi"
               title=""
               class="alignleft">
              <img width="750"
                   height="480"
                   src="~/Images/Upload/screenshot-2024-11-04-101724-17306902954221476931219-0-59-681-1149-crop-1730690307903198921666-750x480.webp"
                   class="attachment-thumbnail size-thumbnail"
                   alt=""
                   title=""
                   decoding="async" />
            </a>
            <h3>
              <a asp-controller="Home" asp-action="TinTucSuKien/tin-khoa-hoc-cong-nghe/loai-bo-hoa-chat-vinh-vien-khoi-nuoc-bang-phuong-phap-dien-phan-moi"
                 title="Loại bỏ “hóa chất vĩnh viễn” khỏi nước bằng phương pháp điện phân mới">
                Loại bỏ “hóa chất vĩnh viễn” khỏi nước bằng phương
                pháp điện phân mới
              </a>
            </h3>
          </li>
          <li>
            <a asp-controller="Home" asp-action="san-pham-dich-vu/dien-nang-luong-mat-troi/dien-nang-luong-mat-troi"
               title=""
               class="alignleft">
              <img width="750"
                   height="400"
                   src="~/Images/Upload/nang-luong-sach-100-photoroom-3-750x400.png"
                   class="attachment-thumbnail size-thumbnail"
                   alt=""
                   title=""
                   decoding="async" />
            </a>
            <h3>
              <a asp-controller="Home" asp-action="san-pham-dich-vu/dien-nang-luong-mat-troi/dien-nang-luong-mat-troi"
                 title="Điện năng lượng mặt trời">
                Điện năng lượng mặt trời
              </a>
            </h3>
          </li>
        </ul>
      </div>
    </section>
    <section id="caia-post-list-8"
             class="widget caia-post-list-widget">
      <div class="widget-wrap">
        <div class="widget-title widgettitle">
          <h2>
            <a asp-controller="Home" asp-action="khach-hang-can-biet/thong-tin-can-biet/thong-tin-tuyen-truyen/index">
              Tuyên truyền
            </a>
          </h2>
        </div>
        <div class="main-posts">
          <div class="post-1029 post type-post status-publish format-standard has-post-thumbnail category-thong-tin-tuyen-truyen category-van-ban-quan-ly-dieu-hanh entry">
            <a asp-controller="Home" asp-action="khach-hang-can-biet/thong-tin-can-biet/thong-tin-tuyen-truyen/tuyen-truyen-bao-ve-nguon-nuoc-bao-ve-su-song"
               title="Chung tay bảo vệ nguồn nước, bảo vệ sự sống"
               class="alignnone">
              <img width="750"
                   height="400"
                   src="~/Images/Upload/navy-blue-modern-textile-industry-business-card-800-x-400-px-750x400.png"
                   class="attachment-thumbnail size-thumbnail"
                   alt="Chung tay bảo vệ nguồn nước, bảo vệ sự sống"
                   title="Chung tay bảo vệ nguồn nước, bảo vệ sự sống"
                   decoding="async" />
            </a>
            <div class="list-info">
              <h3 class="widget-item-title">
                <a asp-controller="Home" asp-action="khach-hang-can-biet/thong-tin-can-biet/thong-tin-tuyen-truyen/tuyen-truyen-bao-ve-nguon-nuoc-bao-ve-su-song"
                   title="Chung tay bảo vệ nguồn nước, bảo vệ sự sống">
                  Chung tay bảo vệ nguồn nước, bảo vệ sự sống
                </a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>



